@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'SeoulNamsanM';
    line-height: 20px;
}

body{
    background-color: #f8f8f8;
}

header{
    height: 40px;
    background-color: #333;
}

main{
    height: 600px;
    width: 750px;
    margin: 0 auto;
    background-color: #f8f8f8;
    box-shadow: 10px 10px 20px gray;
}

#top{
    height: 35px;
    background-color: #f0cdea;
    margin-bottom: 25px;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}

#container{
    height: 410px;
    padding: 10px;
    /* flex(wrap)으로 section 배치*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

aside{
    height: 110px;
    background-color: #f8f8f8;
    margin-bottom: 60px;
    margin: 0 15px 60px 15px;
}

section {
    height: 45%;
    width: 30%;
    border-radius: 7px;
    text-align: center;
    display: block;
    background-color: white;
    justify-content: center;
}

section p {
    padding: 30px;
    text-align: center;
    position: relative;
}

#team{
    width: 470px;
    height: 100%;
    background-color: #31999c;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    float: left;
    padding: 20px;
    text-align: center;
}

#hi{
    width: 230px;
    height: 100%;
    background-color: pink;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    float: right;
    padding: 30px;
    text-align: center;
}

#mbti {
    background-image: url("./mbti.png");
    background-size: cover;
    height: 45%;
    width: 30%;
    position: relative;
    color: white;
}

#mbti:hover{
    transform: scale(1.4);
    transition: all 0.2s linear;
}

#movie {
    background-image: url("./movie.png");
    background-size: cover;
    height: 45%;
    width: 30%;
    position: relative;
    color: white;
}

#movie:hover{
    transform: scale(1.4);
    transition: all 0.2s linear;
}

#dog {
    background-image: url("./dog.jpeg");
    background-size: cover;
    height: 45%;
    width: 30%;
    position: relative;
    color: white;
}

#dog:hover{
    transform: scale(1.4);
    transition: all 0.2s linear;
}

.bg {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
}

#alert {
    display: none;
    text-align: center;
    padding-top: 300px;
}

footer{
    height: 200px;
    background-color: white;
    text-align: center;
    color: rgb(170, 170, 170);
    padding: 50px;
}

@media(max-width: 800px) {
    #main-container {
        display: none;
    }
    
    #alert {
        display: block;
    }
}


